	<div>
		<h1>FG-hero endpoint v. {{version}}</h1>
		<ul>
			<li><a href="/">/</a> this documentation page</li>
			<li><a href="/hero">/hero</a> faker page</li>
		 	<li><a href="/atom.xml">/atom.xml</a> - top gaming news data in ATOM XML format</li>

		</ul>
	</div>
    {{> footer}}

